body {
  background: #151819;
}

#common {
  /* border: 1px solid red; */
  margin: 50px auto;
  width: 560px;
  height: 235px;
}

.arrows {
  position: absolute;
  /* border: 1px solid; */
  width: 560px;
  height: 59px;
  top: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow-buttons {
  width: 41px;
  height: 100%;
  border: none;
  border-radius: 5px;
  transition: all 0.4s linear;
  background: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  z-index: 1;
}

.arrow-buttons:hover {
  background: rgba(0, 0, 0, 0.8);
}

.images {
  /* border: 1px solid black; */
  width: 100%;
  height: 198px;
  display: flex;
  /*overflow: hidden;*/
}

.imgs {
  width: 100%;
  height: 100%;
  transform: translateX();
}

.circles {
  /* border: 1px solid blue; */
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circles div {
  /* border: 1px solid red; */
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.circle {
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  background: rgb(65, 72, 74);
}
