body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.section {
  width: 26%;
  height: 65%;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 1rem 0.01px gray;
}

.square {
  position: absolute;
  border: 1px solid black;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
}

.blue-square {
  background: #606fc2;
  top: -7rem;
  left: -7rem;
  z-index: -1;
}

.red-square {
  background: #ee676c;
  bottom: -7rem;
  right: -7rem;
  z-index: -1;
}
