section {
  width: 75rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right-side-1 {
  width: 51.563rem;
  height: 4.5rem;
  border-radius: 0.625rem;
  background-color: #373F68;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-side-1 div {
  width: 9.875rem;
  height: 2.75rem;
  margin-left: 40rem;
  border-radius: 0.625rem;
  background-color: #ad1fea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-side-1 div b {
  font-family: Jost;
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #F2F4FE;
  margin: 0;
}
