.body_2 {
  margin-top: 110px;
  border: 1px solid black;
  width: 1200px;
  display: flex;
  justify-content: center;
}

.body_2 h2 {
  width: 100%;
  color: #39404A;
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
}