// Color
$color-373F68: #373F68;
$color-ffffff: #ffffff;
$color-ad1fea: #ad1fea;
$color-F2F4FE: #F2F4FE;

// Sizes
$space-1200px:75rem;
$space-825px:51.563rem;
$space-72px:4.5rem;
$space-10px:0.625rem;
$space-14px:0.875rem;
$space-20px:1.25rem;
$space-158px:9.875rem;
$space-44px:2.75rem;
$space-640px:40rem;


section{
    width: $sapce-1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.right-side-1 {
  // border: 1px solid orange;
  width: $space-825px;
  height: $space-72px;
  border-radius:$space-10px;
  background-color: $color-373F68;
  display: flex;
  align-items: center;
  div {
      // border: 1px solid black;
      width:$space-158px;
      height: $space-44px;
      margin-left: $space-640px;
      border-radius: $space-10px;
      background-color: $color-purple;
      display: flex;
      justify-content: center;
      align-items: center;

      b {
          font-family: Jost;
          font-style: normal;
          font-weight: bold;
          font-size: $space-14px;
          line-height: $space-20px;
          color: $color-F2F4FE;
          margin: 0;
      }
  }
}